# daemon requirements, useful for tox/pip
https://github.com/sarnold/python-daemonizer/releases/download/1.1.7/daemonizer-1.1.7-py3-none-any.whl ; platform_system!="Windows"
https://github.com/sarnold/picotui/releases/download/v1.2.3.2/picotui-1.2.3.2-py3-none-any.whl
https://github.com/sarnold/pylogtailer/releases/download/v0.5.4/logwatcher-0.5.4-py3-none-any.whl
https://github.com/VCTLabs/tftpy/releases/download/0.8.6.2/tftpy-0.8.6.2-py3-none-any.whl
platformdirs
py3tftp
scapy
