scapy @ https://files.pythonhosted.org/packages/4b/34/8695b43af99d0c796e4b7933a0d7df8925f43a8abdd0ff0f6297beb4de3a/scapy-2.6.1-py3-none-any.whl
platformdirs @ https://files.pythonhosted.org/packages/fe/39/979e8e21520d4e47a0bbe349e2713c0aac6f3d853d0e5b34d76206c439aa/platformdirs-4.3.8-py3-none-any.whl
pygtail @ https://github.com/VCTLabs/pygtail/releases/download/0.14.0.2/pygtail-0.14.0.2-py3-none-any.whl
picotui @ https://github.com/sarnold/picotui/releases/download/v1.2.3.2/picotui-1.2.3.2-py3-none-any.whl
tftpy @ https://github.com/VCTLabs/tftpy/releases/download/0.8.6.2/tftpy-0.8.6.2-py3-none-any.whl
daemonizer @ https://github.com/sarnold/python-daemonizer/releases/download/1.1.7/daemonizer-1.1.7-py3-none-any.whl
